@model IEnumerable<WorkLife.Models.Job>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    var userManager = Context.RequestServices.GetService<UserManager<WorkLife.Areas.Identity.Data.WorkLifeUser>>();
    var currentUserId = userManager.GetUserName(User);
}

<h1>All Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryAreas)
            </th>           
            <th>
                Total applications
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var job in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Competition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.SubmissionDeadline)
            </td>
            <td>
                @foreach (var industryArea in job.IndustryAreas)
                {
                    @industryArea.IndustryArea.Title
                    @if (industryArea != job.IndustryAreas.Last())
                    {
                        <text>, </text>
                    }
                }
            </td>
            <td>
                @if (User.IsInRole("Employer"))
                {
                    @if (job.Applications.Count() > 0)
                    {
                        <a asp-action="Applications" asp-route-id="@job.Id">@job.Applications.Count()</a>
                    }
                    else
                    {
                        <p>No submissions</p>
                    }
                }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {                   
                    bool isCreator = job.EmployerEmail == currentUserId;
                    if (isCreator)
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@job.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@job.Id">Delete</a>
                        </div>
                    }
                    else
                    { 
                        if (User.IsInRole("Applicant"))
                        {
                            bool isBeforeSubmissionDeadline = DateTime.Now.Date <= job.SubmissionDeadline;
                            <div>
                                @if (isBeforeSubmissionDeadline)
                                {
                                    <a asp-action="Apply" asp-route-id="@job.Id">Apply</a>
                                }
                                else
                                {
                                    <span>Submission Deadline Passed</span>
                                }
                            </div>
                        }
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>
