@model IEnumerable<WorkLife.Models.ViewModel.ApplicantJobsViewModel>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    var userManager = Context.RequestServices.GetService<UserManager<WorkLife.Areas.Identity.Data.WorkLifeUser>>();
    var currentUserId = userManager.GetUserName(User);
}

<h1>All Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.SubmissionDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.IndustryAreas)
            </th>           
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var jobViewModel in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.Competition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => jobViewModel.Job.SubmissionDeadline)
            </td>
            <td>
                @foreach (var industryArea in jobViewModel.Job.IndustryAreas)
                {
                    @industryArea.IndustryArea.Title
                    @if (industryArea != jobViewModel.Job.IndustryAreas.Last())
                    {
                        <text>, </text>
                    }
                }
            </td>
            <td>
                @if (User.IsInRole("Employer"))
                {
                    @if (jobViewModel.Job.Applications.Count() > 0)
                    {
                        <a asp-action="Applications" asp-route-id="@jobViewModel.Job.Id">@jobViewModel.Job.Applications.Count()</a>
                    }
                    else
                    {
                        <p>No submissions</p>
                    }
                }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    bool isCreator = jobViewModel.Job.EmployerEmail == currentUserId;
                    if (isCreator)
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@jobViewModel.Job.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@jobViewModel.Job.Id">Delete</a>
                        </div>
                    }
                    else
                    { 
                        if (User.IsInRole("Applicant"))
                        {
                            bool isBeforeSubmissionDeadline = DateTime.Now.Date <= jobViewModel.Job.SubmissionDeadline;
                            <div>
                                @if (isBeforeSubmissionDeadline)
                                {
                                    if (!jobViewModel.IsApplied)
                                    {
                                        <a asp-action="Apply" asp-route-id="@jobViewModel.Job.Id">Apply</a>
                                    }
                                    else
                                    {
                                        <span>Applied</span>     
                                    }
                                }
                                else
                                {
                                    <span>Submission Deadline Passed</span>
                                }
                            </div>
                        }
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>
